.appHouseDetail{
    color: aliceblue;
    margin-top:  6%;
}
.house-card{
    text-align: center;
    margin-top: 2%;
    img{
        width:200px;
    }
}
p{
    font-size: 13px;
    padding-top: 1rem;
}
.house-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.house-info-item{
    min-width: 180px;
}

.goHome{
    width:70px;
    margin-left: 83%;
    margin-top: 1.2%;
    margin-bottom: 0;
}
.goHome:hover{
    width:71px;

}
