.searchHouse{
    margin-left: 5%;
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: black;
    width:500px;
    height: 50px;
    font-size: larger;
    position: fixed;
}
.goHome{
    width:70px;
    margin-left: 83%;
    margin-top: 1.2%;
    margin-bottom: 0;
}
.goHome:hover{
    width:71px;

}
