/* You can add global styles to this file, and also import other style files */

@import "./app/font";

body{
    font-family: lato;
    background-color:black;
    margin:0px;
}

.simplebar-scrollbar::before {
    background-color:white !important;
    width: 3px;
  }
 .loader{
    width: 100rem;
    height: 50rem;
 }